
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: aqua;
}

p {

    color: blueviolet;
  
    width: 500px;
  
  }
  .prueba {color: rgb(230, 135, 151);
width: 300;
height: 300;}


.contenedor {
    background-color: rgb(184, 134, 232);
    height: 500px;
    padding: 30px;
}
.contenedor button {
    background-color: rgb(246, 251, 250);
    color: black;
    padding: 5px;
    border: 1px color black;
    border-radius: 15px;
    border-width: 10px;
    transition-duration: 1000ms;
}
.contenedor button:hover {
background-color: white;
color: brown;
padding: 12px;
border: 2px solid color(srgb red rgb(23, 199, 23) blue);

}